:root {
    --color-primary: #0073ff;
    --color-wite: #e9e9e9;
    --color-black: #141d28;
    --color-back: #212b38;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.menu_bar{
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

}
.logo{
    color: var(--color-wite);
    font-size: 30px;
}
.logo span{
    color: var(--color-primary);
}
.menu_bar ul {
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    color: var(--color-wite);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}
.menu_bar ul li a:hover{
    color: var(--color-primary);
}
.dropdwon__menu{
    display: none;
}

.menu_bar ul li:hover .dropdwon__menu
{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-back);
}

.menu_bar ul li:hover .dropdwon__menu ul
{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdwon__menu ul li
{
    width: 150px;
    padding: 10px;

}

.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3x;
}
.dropdwon__menu-1{
    display: none;
}

.dropdwon__menu ul li:hover .dropdwon__menu-1{
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--color-back);
}

.hero{
    height: calc(100vh - 80px);
    background-image: url(https://images.unsplash.com/photo-1462103794660-4c1db1d819b0?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}